/* card.css */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

.card {
    border: 0px solid #ccc;
    padding: 8px;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 250px;
    max-height: 400px; /* Establece la altura máxima en 200px */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido se desborda */
    margin: 0 auto;
    background: #1982C4;
    margin-right: 0px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 14px;
    color: white;
  }

  .card a {
    font-size: 20px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
  }

.cardtitle {
    color: white;
}
/* Estilo base para el botón */

/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento vertical */
}

/* Cambia el fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #1982C4; /* Cambia el color de fondo de la barra de desplazamiento */
}

/* Cambia el color del "pulgar" o la parte desplazable de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #003c80; /* Cambia el color del pulgar */
  border-radius: 6px; /* Agrega bordes redondeados al pulgar */
}

/* Cambia el color de fondo cuando se pasa el cursor sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background-color: #003c80; /* Cambia el color del pulgar al pasar el cursor */
}

/* Estilo base para el botón */
.buttontext {
  display: inline-block;
  margin: 2px;
  padding: 5px 5px;
  font-size: 16px;
  background-color: #166FA6; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  text-decoration: none; /* Elimina la decoración de texto por defecto */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Estilo cuando se coloca el mouse sobre el botón */
.buttontext:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilo cuando se hace clic en el botón */
.buttontext:active {
  background-color: #003c80; /* Cambia el color de fondo al hacer clic */
}