.cardscontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea columnas automáticas con un ancho mínimo de 300px */
    gap: 8px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}